[{
    "endpointSelector": ["id.qa"],
    "ingress": [{
        "fromRequires": [["id.qa"]]
    }]
},{
    "endpointSelector": ["id.prod"],
    "ingress": [{
        "fromRequires": [["id.prod"]]
    }]
},{
    "endpointSelector": ["id.server"],
    "ingress": [{
        "fromEndpoints": [
	    ["id.client"], ["reserved:host"]
	]
    }]
}]
