{
        "name": "root",
	"rules": [{
		"coverage": ["id.qa"],
		"requires": ["id.qa"]
	},{
		"coverage": ["id.prod"],
		"requires": ["id.prod"]
	},{
		"coverage": ["id.server"],
		"allow": ["id.client", "$host"]
	}]
}
