#!/usr/bin/make -f

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_install:
	make install

	mkdir -p "$(DESTDIR)/lib/systemd/system"
	mkdir -p "$(DESTDIR)/etc/sysconfig"

	cp contrib/systemd/*.service "$(DESTDIR)/lib/systemd/system"
	chmod 644 $(DESTDIR)/lib/systemd/system/*

	sed 's+env.*+PATH=/usr/lib/llvm-3.8/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/sbin:/sbin:/bin+g' \
	 "contrib/systemd/cilium" > "$(DESTDIR)/etc/sysconfig/cilium"
	chmod 644 "$(DESTDIR)/etc/sysconfig/cilium"

	mkdir -p "$(DESTDIR)/etc/init"
	cp contrib/upstart/* "$(DESTDIR)/etc/init"
	apt-get install -y gettext-base
	sed 's+env.*+env PATH=/usr/lib/llvm-3.8/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/sbin:/sbin:/bin+g' \
	 "contrib/upstart/cilium-net-daemon.conf" > "$(DESTDIR)/etc/init/cilium-net-daemon.conf"
	chmod 644 $(DESTDIR)/etc/init/*


override_dh_auto_clean:
	make clean

override_dh_auto_build:
	make

override_dh_auto_test:

override_dh_fixperms:
	dh_fixperms
	find $(DESTDIR)/usr/lib/cilium/ui -exec chgrp cilium {} \;
