[Unit]
Description=cilium
Documentation=http://docs.cilium.io
Requires=docker.service cilium-consul.service cilium-docker.service
StartLimitInterval=200
StartLimitBurst=5

[Service]
Type=simple
LimitCORE=infinity
EnvironmentFile=-/etc/sysconfig/cilium
ExecStart=/usr/bin/cilium-agent $CILIUM_OPTS
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
