[Unit]
Description=cilium-etcd
Documentation=https://github.com/cilium/cilium
Requires=containerd.service
After=containerd.service

[Service]
Type=simple
RemainAfterExit=yes
TimeoutStartSec=0

# Use ctr to manage the etcd container
# Pull the image using ctr
ExecStartPre=/usr/bin/sudo /usr/bin/ctr image pull quay.io/coreos/etcd:v3.5.13
# Stop and remove existing container/task using ctr, ignore errors if they don't exist
ExecStartPre=-/usr/bin/sudo /usr/bin/ctr task kill -s SIGKILL cilium-etcd
ExecStartPre=-/usr/bin/sudo /usr/bin/ctr c rm -f cilium-etcd
ExecStart=/usr/bin/sudo /usr/bin/ctr run \
 --mount type=bind,src=/usr/share/ca-certificates/,dst=/etc/ssl/certs,options=rbind:ro \
 --net-host \
 quay.io/coreos/etcd:v3.5.13 \
 cilium-etcd \
 etcd -name etcd0 \
 -advertise-client-urls http://127.0.0.1:2379,http://127.0.0.1:4001 \
 -listen-client-urls http://0.0.0.0:2379,http://0.0.0.0:4001 \
 -initial-cluster-token etcd-cluster-1 \
 -initial-cluster-state new

# Stop and remove the container using ctr on service stop
ExecStop=-/usr/bin/sudo /usr/bin/ctr task kill -s SIGKILL cilium-etcd
ExecStopPost=-/usr/bin/sudo /usr/bin/ctr c rm cilium-etcd

[Install]
WantedBy=multi-user.target
