Source: cilium
Section: net
Priority: optional
Maintainer: Andre Martins <andre@cilium.io>,
            Eloy Coto <eloy.coto@gmail.com>
Build-Depends: debhelper (>= 9), gettext-base, dh-systemd
Standards-Version: 3.9.5
Homepage: https://www.cilium.io/

Package: cilium
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BPF & XDP for containers
 Cilium provides fast in-kernel networking and security policy enforcement
 for containers based on eBPF programs generated on the fly. It is an
 experimental project aiming at enabling emerging kernel technologies such
 as BPF and XDP for containers.
