go.sum linguist-generated
examples/kubernetes/connectivity-check/connectivity-*.yaml linguist-generated
pkg/k8s/apis/cilium.io/v2/client/crds/*.yaml linguist-generated
Documentation/cmdref/** linguist-generated
Documentation/helm-values.rst linguist-generated
