# Copyright Authors of Cilium
# SPDX-License-Identifier: Apache-2.0

# since this is image is built with root context, most of the files
# need to be excluded for faster builds and to avoid spoiling build
# cache due to unchecked files (like configs or random binaries)
*

# must-have toplevel files
!/Makefile*
!/go.sum
!/go.mod
!/VERSION

# Source of Envoy dependency reference
!/images/cilium/Dockerfile

# directories
!/.git
!/api
!/bpf
!/bugtool
!/cilium
!/cilium-health
!/daemon
!/envoy
!/images/cilium/
!/operator/option
!/pkg
!/plugins/cilium-cni
!/proxylib
!/tools
!/vendor
