{
    "name": "io.cilium",
    "children": {
        "k8s:admin": {
            "children": {
                "k8s-system": {
                    "rules": [
                        {
                            "allow": [
                                "$host"
                            ]
                        }
                    ]
                }
            }
        },
        "k8s:birds": {
            "children": {
                "db": {}
            }
        },
        "lizards": {
            "children": {
                "db": {
                    "rules": [
                        {
                            "allow": [
                                {
                                    "key": "io.cilium.lizards.web",
                                    "source": "k8s"
                                },
                                {
                                    "key": "io.cilium.admin.k8s-system",
                                    "source": "k8s"
                                }
                            ]
                        }
                    ]
                },
                "web": {}
            },
            "rules": [
                {
                    "coverage": [
                        "qa"
                    ],
                    "requires": [
                        "qa"
                    ]
                },
                {
                    "coverage": [
                        "prod"
                    ],
                    "requires": [
                        "prod"
                    ]
                },
                {
                    "always-allow": {
                        "key": "user",
                        "value": "joe"
                    },
                    "coverage": [
                        "db"
                    ]
                }
            ]
        }
    }
}
