{
        "Name": "io.cilium",
	"Children": {
		"Web": {
			"Rules": [{
				"Allow": ["$world"]
			}]
		},
		"DB": {
			"Rules": [{
				"Allow": ["..Web"]
			}]
		}
	}
}
