{
        "name": "io.cilium",
	"children": {
		"web": {
			"rules": [{
				"allow": ["$world"]
			}]
		},
		"db": {
			"rules": [{
				"allow": ["..web"]
			}]
		}
	}
}
