// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armnetwork

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ServiceGatewaysClient contains the methods for the ServiceGateways group.
// Don't use this type directly, use NewServiceGatewaysClient() instead.
type ServiceGatewaysClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewServiceGatewaysClient creates a new instance of ServiceGatewaysClient with the specified values.
//   - subscriptionID - The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription
//     ID forms part of the URI for every service call.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewServiceGatewaysClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ServiceGatewaysClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ServiceGatewaysClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginCreateOrUpdate - Creates or updates a service gateway.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-05-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - serviceGatewayName - The name of the service gateway.
//   - parameters - Parameters supplied to the create or update service gateway operation.
//   - options - ServiceGatewaysClientBeginCreateOrUpdateOptions contains the optional parameters for the ServiceGatewaysClient.BeginCreateOrUpdate
//     method.
func (client *ServiceGatewaysClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, serviceGatewayName string, parameters ServiceGateway, options *ServiceGatewaysClientBeginCreateOrUpdateOptions) (*runtime.Poller[ServiceGatewaysClientCreateOrUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createOrUpdate(ctx, resourceGroupName, serviceGatewayName, parameters, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ServiceGatewaysClientCreateOrUpdateResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ServiceGatewaysClientCreateOrUpdateResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// CreateOrUpdate - Creates or updates a service gateway.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-05-01
func (client *ServiceGatewaysClient) createOrUpdate(ctx context.Context, resourceGroupName string, serviceGatewayName string, parameters ServiceGateway, options *ServiceGatewaysClientBeginCreateOrUpdateOptions) (*http.Response, error) {
	var err error
	const operationName = "ServiceGatewaysClient.BeginCreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, serviceGatewayName, parameters, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *ServiceGatewaysClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, serviceGatewayName string, parameters ServiceGateway, _ *ServiceGatewaysClientBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceGateways/{serviceGatewayName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceGatewayName == "" {
		return nil, errors.New("parameter serviceGatewayName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceGatewayName}", url.PathEscape(serviceGatewayName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, parameters); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginDelete - Deletes the specified service gateway.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-05-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - serviceGatewayName - The name of the service gateway.
//   - options - ServiceGatewaysClientBeginDeleteOptions contains the optional parameters for the ServiceGatewaysClient.BeginDelete
//     method.
func (client *ServiceGatewaysClient) BeginDelete(ctx context.Context, resourceGroupName string, serviceGatewayName string, options *ServiceGatewaysClientBeginDeleteOptions) (*runtime.Poller[ServiceGatewaysClientDeleteResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.deleteOperation(ctx, resourceGroupName, serviceGatewayName, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ServiceGatewaysClientDeleteResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ServiceGatewaysClientDeleteResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Delete - Deletes the specified service gateway.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-05-01
func (client *ServiceGatewaysClient) deleteOperation(ctx context.Context, resourceGroupName string, serviceGatewayName string, options *ServiceGatewaysClientBeginDeleteOptions) (*http.Response, error) {
	var err error
	const operationName = "ServiceGatewaysClient.BeginDelete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, serviceGatewayName, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *ServiceGatewaysClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, serviceGatewayName string, _ *ServiceGatewaysClientBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceGateways/{serviceGatewayName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceGatewayName == "" {
		return nil, errors.New("parameter serviceGatewayName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceGatewayName}", url.PathEscape(serviceGatewayName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Gets the specified service gateway.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-05-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - serviceGatewayName - The name of the service gateway.
//   - options - ServiceGatewaysClientGetOptions contains the optional parameters for the ServiceGatewaysClient.Get method.
func (client *ServiceGatewaysClient) Get(ctx context.Context, resourceGroupName string, serviceGatewayName string, options *ServiceGatewaysClientGetOptions) (ServiceGatewaysClientGetResponse, error) {
	var err error
	const operationName = "ServiceGatewaysClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, serviceGatewayName, options)
	if err != nil {
		return ServiceGatewaysClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ServiceGatewaysClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ServiceGatewaysClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *ServiceGatewaysClient) getCreateRequest(ctx context.Context, resourceGroupName string, serviceGatewayName string, _ *ServiceGatewaysClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceGateways/{serviceGatewayName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceGatewayName == "" {
		return nil, errors.New("parameter serviceGatewayName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceGatewayName}", url.PathEscape(serviceGatewayName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *ServiceGatewaysClient) getHandleResponse(resp *http.Response) (ServiceGatewaysClientGetResponse, error) {
	result := ServiceGatewaysClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ServiceGateway); err != nil {
		return ServiceGatewaysClientGetResponse{}, err
	}
	return result, nil
}

// NewGetAddressLocationsPager - Get address locations in service gateway.
//
// Generated from API version 2025-05-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - serviceGatewayName - The name of the service gateway.
//   - options - ServiceGatewaysClientGetAddressLocationsOptions contains the optional parameters for the ServiceGatewaysClient.NewGetAddressLocationsPager
//     method.
func (client *ServiceGatewaysClient) NewGetAddressLocationsPager(resourceGroupName string, serviceGatewayName string, options *ServiceGatewaysClientGetAddressLocationsOptions) *runtime.Pager[ServiceGatewaysClientGetAddressLocationsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ServiceGatewaysClientGetAddressLocationsResponse]{
		More: func(page ServiceGatewaysClientGetAddressLocationsResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ServiceGatewaysClientGetAddressLocationsResponse) (ServiceGatewaysClientGetAddressLocationsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ServiceGatewaysClient.NewGetAddressLocationsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.getAddressLocationsCreateRequest(ctx, resourceGroupName, serviceGatewayName, options)
			}, nil)
			if err != nil {
				return ServiceGatewaysClientGetAddressLocationsResponse{}, err
			}
			return client.getAddressLocationsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// getAddressLocationsCreateRequest creates the GetAddressLocations request.
func (client *ServiceGatewaysClient) getAddressLocationsCreateRequest(ctx context.Context, resourceGroupName string, serviceGatewayName string, _ *ServiceGatewaysClientGetAddressLocationsOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceGateways/{serviceGatewayName}/addressLocations"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceGatewayName == "" {
		return nil, errors.New("parameter serviceGatewayName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceGatewayName}", url.PathEscape(serviceGatewayName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getAddressLocationsHandleResponse handles the GetAddressLocations response.
func (client *ServiceGatewaysClient) getAddressLocationsHandleResponse(resp *http.Response) (ServiceGatewaysClientGetAddressLocationsResponse, error) {
	result := ServiceGatewaysClientGetAddressLocationsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GetServiceGatewayAddressLocationsResult); err != nil {
		return ServiceGatewaysClientGetAddressLocationsResponse{}, err
	}
	return result, nil
}

// NewGetServicesPager - Get Services in service gateway.
//
// Generated from API version 2025-05-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - serviceGatewayName - The name of the service gateway.
//   - options - ServiceGatewaysClientGetServicesOptions contains the optional parameters for the ServiceGatewaysClient.NewGetServicesPager
//     method.
func (client *ServiceGatewaysClient) NewGetServicesPager(resourceGroupName string, serviceGatewayName string, options *ServiceGatewaysClientGetServicesOptions) *runtime.Pager[ServiceGatewaysClientGetServicesResponse] {
	return runtime.NewPager(runtime.PagingHandler[ServiceGatewaysClientGetServicesResponse]{
		More: func(page ServiceGatewaysClientGetServicesResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ServiceGatewaysClientGetServicesResponse) (ServiceGatewaysClientGetServicesResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ServiceGatewaysClient.NewGetServicesPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.getServicesCreateRequest(ctx, resourceGroupName, serviceGatewayName, options)
			}, nil)
			if err != nil {
				return ServiceGatewaysClientGetServicesResponse{}, err
			}
			return client.getServicesHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// getServicesCreateRequest creates the GetServices request.
func (client *ServiceGatewaysClient) getServicesCreateRequest(ctx context.Context, resourceGroupName string, serviceGatewayName string, _ *ServiceGatewaysClientGetServicesOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceGateways/{serviceGatewayName}/services"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceGatewayName == "" {
		return nil, errors.New("parameter serviceGatewayName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceGatewayName}", url.PathEscape(serviceGatewayName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getServicesHandleResponse handles the GetServices response.
func (client *ServiceGatewaysClient) getServicesHandleResponse(resp *http.Response) (ServiceGatewaysClientGetServicesResponse, error) {
	result := ServiceGatewaysClientGetServicesResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GetServiceGatewayServicesResult); err != nil {
		return ServiceGatewaysClientGetServicesResponse{}, err
	}
	return result, nil
}

// NewListPager - Gets all the service gateways in a resource group.
//
// Generated from API version 2025-05-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - ServiceGatewaysClientListOptions contains the optional parameters for the ServiceGatewaysClient.NewListPager
//     method.
func (client *ServiceGatewaysClient) NewListPager(resourceGroupName string, options *ServiceGatewaysClientListOptions) *runtime.Pager[ServiceGatewaysClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[ServiceGatewaysClientListResponse]{
		More: func(page ServiceGatewaysClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ServiceGatewaysClientListResponse) (ServiceGatewaysClientListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ServiceGatewaysClient.NewListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCreateRequest(ctx, resourceGroupName, options)
			}, nil)
			if err != nil {
				return ServiceGatewaysClientListResponse{}, err
			}
			return client.listHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCreateRequest creates the List request.
func (client *ServiceGatewaysClient) listCreateRequest(ctx context.Context, resourceGroupName string, _ *ServiceGatewaysClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceGateways"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *ServiceGatewaysClient) listHandleResponse(resp *http.Response) (ServiceGatewaysClientListResponse, error) {
	result := ServiceGatewaysClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ServiceGatewayListResult); err != nil {
		return ServiceGatewaysClientListResponse{}, err
	}
	return result, nil
}

// NewListAllPager - Gets all the service gateways in a subscription.
//
// Generated from API version 2025-05-01
//   - options - ServiceGatewaysClientListAllOptions contains the optional parameters for the ServiceGatewaysClient.NewListAllPager
//     method.
func (client *ServiceGatewaysClient) NewListAllPager(options *ServiceGatewaysClientListAllOptions) *runtime.Pager[ServiceGatewaysClientListAllResponse] {
	return runtime.NewPager(runtime.PagingHandler[ServiceGatewaysClientListAllResponse]{
		More: func(page ServiceGatewaysClientListAllResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ServiceGatewaysClientListAllResponse) (ServiceGatewaysClientListAllResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ServiceGatewaysClient.NewListAllPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listAllCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return ServiceGatewaysClientListAllResponse{}, err
			}
			return client.listAllHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listAllCreateRequest creates the ListAll request.
func (client *ServiceGatewaysClient) listAllCreateRequest(ctx context.Context, _ *ServiceGatewaysClientListAllOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Network/serviceGateways"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listAllHandleResponse handles the ListAll response.
func (client *ServiceGatewaysClient) listAllHandleResponse(resp *http.Response) (ServiceGatewaysClientListAllResponse, error) {
	result := ServiceGatewaysClientListAllResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ServiceGatewayListResult); err != nil {
		return ServiceGatewaysClientListAllResponse{}, err
	}
	return result, nil
}

// BeginUpdateAddressLocations - Creates or updates address locations within the service gateway.
// The request supports both full and partial update modes at two levels: location and address.
// Full update replaces all existing data.
// Partial update modifies only the specified entries:
// For location-level partial updates, if no address is provided, the existing address will be deleted.
// For address-level partial updates, if no services are provided, the existing services will be considered for deletion.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-05-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - serviceGatewayName - The name of the service gateway.
//   - parameters - Parameters supplied to the create or updates address locations in service gateway operation.
//   - options - ServiceGatewaysClientBeginUpdateAddressLocationsOptions contains the optional parameters for the ServiceGatewaysClient.BeginUpdateAddressLocations
//     method.
func (client *ServiceGatewaysClient) BeginUpdateAddressLocations(ctx context.Context, resourceGroupName string, serviceGatewayName string, parameters ServiceGatewayUpdateAddressLocationsRequest, options *ServiceGatewaysClientBeginUpdateAddressLocationsOptions) (*runtime.Poller[ServiceGatewaysClientUpdateAddressLocationsResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateAddressLocations(ctx, resourceGroupName, serviceGatewayName, parameters, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ServiceGatewaysClientUpdateAddressLocationsResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ServiceGatewaysClientUpdateAddressLocationsResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// UpdateAddressLocations - Creates or updates address locations within the service gateway.
// The request supports both full and partial update modes at two levels: location and address.
// Full update replaces all existing data.
// Partial update modifies only the specified entries:
// For location-level partial updates, if no address is provided, the existing address will be deleted.
// For address-level partial updates, if no services are provided, the existing services will be considered for deletion.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-05-01
func (client *ServiceGatewaysClient) updateAddressLocations(ctx context.Context, resourceGroupName string, serviceGatewayName string, parameters ServiceGatewayUpdateAddressLocationsRequest, options *ServiceGatewaysClientBeginUpdateAddressLocationsOptions) (*http.Response, error) {
	var err error
	const operationName = "ServiceGatewaysClient.BeginUpdateAddressLocations"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateAddressLocationsCreateRequest(ctx, resourceGroupName, serviceGatewayName, parameters, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateAddressLocationsCreateRequest creates the UpdateAddressLocations request.
func (client *ServiceGatewaysClient) updateAddressLocationsCreateRequest(ctx context.Context, resourceGroupName string, serviceGatewayName string, parameters ServiceGatewayUpdateAddressLocationsRequest, _ *ServiceGatewaysClientBeginUpdateAddressLocationsOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceGateways/{serviceGatewayName}/updateAddressLocations"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceGatewayName == "" {
		return nil, errors.New("parameter serviceGatewayName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceGatewayName}", url.PathEscape(serviceGatewayName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, parameters); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginUpdateServices - Creates, updates, or deletes services within the service gateway. The request supports both full
// and partial update modes at the service level.
// Full update replaces all existing services with the new list provided in the request. Partial update modifies only the
// specified services.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-05-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - serviceGatewayName - The name of the service gateway.
//   - parameters - Parameters supplied to the create or updates services in service gateway operation.
//   - options - ServiceGatewaysClientBeginUpdateServicesOptions contains the optional parameters for the ServiceGatewaysClient.BeginUpdateServices
//     method.
func (client *ServiceGatewaysClient) BeginUpdateServices(ctx context.Context, resourceGroupName string, serviceGatewayName string, parameters ServiceGatewayUpdateServicesRequest, options *ServiceGatewaysClientBeginUpdateServicesOptions) (*runtime.Poller[ServiceGatewaysClientUpdateServicesResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateServices(ctx, resourceGroupName, serviceGatewayName, parameters, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ServiceGatewaysClientUpdateServicesResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ServiceGatewaysClientUpdateServicesResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// UpdateServices - Creates, updates, or deletes services within the service gateway. The request supports both full and partial
// update modes at the service level.
// Full update replaces all existing services with the new list provided in the request. Partial update modifies only the
// specified services.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-05-01
func (client *ServiceGatewaysClient) updateServices(ctx context.Context, resourceGroupName string, serviceGatewayName string, parameters ServiceGatewayUpdateServicesRequest, options *ServiceGatewaysClientBeginUpdateServicesOptions) (*http.Response, error) {
	var err error
	const operationName = "ServiceGatewaysClient.BeginUpdateServices"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateServicesCreateRequest(ctx, resourceGroupName, serviceGatewayName, parameters, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateServicesCreateRequest creates the UpdateServices request.
func (client *ServiceGatewaysClient) updateServicesCreateRequest(ctx context.Context, resourceGroupName string, serviceGatewayName string, parameters ServiceGatewayUpdateServicesRequest, _ *ServiceGatewaysClientBeginUpdateServicesOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceGateways/{serviceGatewayName}/updateServices"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceGatewayName == "" {
		return nil, errors.New("parameter serviceGatewayName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceGatewayName}", url.PathEscape(serviceGatewayName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, parameters); err != nil {
		return nil, err
	}
	return req, nil
}

// UpdateTags - Updates a service gateway tags.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-05-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - serviceGatewayName - The name of the service gateway.
//   - parameters - Parameters supplied to update service gateway tags.
//   - options - ServiceGatewaysClientUpdateTagsOptions contains the optional parameters for the ServiceGatewaysClient.UpdateTags
//     method.
func (client *ServiceGatewaysClient) UpdateTags(ctx context.Context, resourceGroupName string, serviceGatewayName string, parameters TagsObject, options *ServiceGatewaysClientUpdateTagsOptions) (ServiceGatewaysClientUpdateTagsResponse, error) {
	var err error
	const operationName = "ServiceGatewaysClient.UpdateTags"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateTagsCreateRequest(ctx, resourceGroupName, serviceGatewayName, parameters, options)
	if err != nil {
		return ServiceGatewaysClientUpdateTagsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ServiceGatewaysClientUpdateTagsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ServiceGatewaysClientUpdateTagsResponse{}, err
	}
	resp, err := client.updateTagsHandleResponse(httpResp)
	return resp, err
}

// updateTagsCreateRequest creates the UpdateTags request.
func (client *ServiceGatewaysClient) updateTagsCreateRequest(ctx context.Context, resourceGroupName string, serviceGatewayName string, parameters TagsObject, _ *ServiceGatewaysClientUpdateTagsOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceGateways/{serviceGatewayName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serviceGatewayName == "" {
		return nil, errors.New("parameter serviceGatewayName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serviceGatewayName}", url.PathEscape(serviceGatewayName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, parameters); err != nil {
		return nil, err
	}
	return req, nil
}

// updateTagsHandleResponse handles the UpdateTags response.
func (client *ServiceGatewaysClient) updateTagsHandleResponse(resp *http.Response) (ServiceGatewaysClientUpdateTagsResponse, error) {
	result := ServiceGatewaysClientUpdateTagsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ServiceGateway); err != nil {
		return ServiceGatewaysClientUpdateTagsResponse{}, err
	}
	return result, nil
}
