{
        "Name": "io.cilium",
	"Rules": [{
		"Coverage": ["Dev"],
		"Requires": ["Dev"]
	},{
		"Coverage": ["QA"],
		"Requires": ["QA"]
	},{
		"Coverage": ["Prod"],
		"Requires": ["Prod"]
	}],
        "Children": {
		"GrpBlue": {
			"Children": {
				"Web": { },
				"DB": {
					"Rules": [{
						"Allow": ["..Web"]
					}]
				}
			}
		},
		"GrpRed": {
			"Children": {
				"DB": { }
			}
		}

	}
}
