pre.literal-block {
  white-space: pre;
  margin: 0 !important;
  padding: 12px 12px !important;
  font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
  font-size: 12px;
  display: block;
  overflow: auto;
  color: #404040;
}
