<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<script type="text/javascript" src="./static/js/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="./static/js/bootstrap-3.3.6.min.js"></script>
		<script type="text/javascript" src="./static/js/vis.min.js"></script>
		<script type="text/javascript" src="./static/js/vis.animatetraffic.js"></script>
		<script type="text/javascript" src="./static/js/cilium.js"></script>

		<link href="./static/css/vis.min.css" rel="stylesheet" type="text/css" />
		<link href="./static/css/bootstrap-3.3.6.min.css" rel="stylesheet" type="text/css" />
		<link href="./static/css/bootstrap-theme-3.3.6.min.css" rel="stylesheet" type="text/css" />
		<link href="./static/css/cilium.css" rel="stylesheet" type="text/css" />

		<link href="./static/images/cilium.ico" rel="shortcut icon" type="image/x-icon"/>

		<title>Cilium Administration Tool</title>
	</head>
	<body>
		<div class="container-fluid" style="height: 90%;">
			<div class="row" style="height: 100%;">
				<div class="col-md-12">
					<img class="h3" src="./static/images/cilium.svg" alt="cilium" style="float:left;height: 1em;">
					<h3 class="text-left text-primary title-left"> cilium administration tool </h3>
				</div>
				<div class="col-md-12" style="height: 100%;">
					<div class="row" style="height: 100%;">

						<div class="col-md-5" style="height: 100%;">
							<div class="panel-group" id="panel-0">

								<div class="panel panel-default">
									<div class="panel-heading">
										<a class="panel-title" data-toggle="collapse" data-parent="#panel-0" href="#panel-element-1">daemon options</a>
									</div>
									<div id="panel-element-1" class="panel-collapse collapse">
										<div class="panel-body">
											<div id="checks">
												<div class="col-md-6">
													{{ range $key, $value := .Opts1 }}
													<div class="checkbox" align="left">
														<label> {{if $value}}
															<input id="{{ $key }}" type="checkbox" checked>
															{{else}}
															<input id="{{ $key }}" type="checkbox">
															{{end}}{{ $key }} </label>
													</div>
													{{ end }}
												</div>
												<div class="col-md-6">
													{{ range $key, $value := .Opts2 }}
													<div class="checkbox" align="left">
														<label> {{if $value}}
															<input id="{{ $key }}" type="checkbox" checked>
															{{else}}
															<input id="{{ $key }}" type="checkbox">
															{{end}}{{ $key }} </label>
													</div>
													{{ end }}
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<a class="panel-title" data-toggle="collapse" data-parent="#panel-0" href="#panel-element-2"> endpoints </a>
									</div>
									<div id="panel-element-2" class="panel-collapse collapse">
										<div class="panel-body" id="endpoints-list">
											Select a node
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<a class="panel-title" data-toggle="collapse" data-parent="#panel-0" href="#panel-element-3"> policy </a>
									</div>
									<div id="panel-element-3" class="panel-collapse collapse">
										<div class="panel-body">
											<div class="row">
												<div class="col-md-12">
													<div class="panel-body">
														<h4 style="margin-top: 0px;"> Current policy </h4>
														<pre id="policy-body" class="form-control" align="left" style="height: auto;">(Click reload)</pre>
													</div>
													<button class="btn btn-default" onclick="reloadPolicy()" align="left">
														Reload
													</button>
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="col-md-12">
													<h4 style="margin-top: 0px;"> Upload policy file </h4>
													<form id="policy-form" role="form" align="left" enctype="multipart/form-data">
														<div class="form-group">
															<label for="policy-input-file"> File input </label>
															<input type="file" id="policy-input-file" name="policy-input-file" />
														</div>
														<button id="policy-button" type="submit" class="btn btn-default">
															Upload
														</button>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-7" style="height: 100%;">
							<div class="jumbotron" id="cilium-topology" style="height: 100%;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="fade"></div>
		<div id="modal">
			<img id="loader" src="./static/images/loading.gif" />
		</div>

		<script>
			function openModal() {
				document.getElementById('modal').style.display = 'block';
				document.getElementById('fade').style.display = 'block';
			}

			function closeModal() {
				document.getElementById('modal').style.display = 'none';
				document.getElementById('fade').style.display = 'none';
			}

		</script>

		<script type="text/javascript">
			function syntaxHighlight(json) {
				json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
				return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function(match) {
					var cls = 'number';
					if (/^"/.test(match)) {
						if (/:$/.test(match)) {
							cls = 'key';
						} else {
							cls = 'string';
						}
					} else if (/true|false/.test(match)) {
						cls = 'boolean';
					} else if (/null/.test(match)) {
						cls = 'null';
					}
					return '<span class="' + cls + '">' + match + '</span>';
				});
			}

			function reloadPolicy() {
				var xmlHttp = new XMLHttpRequest();
				openModal();
				xmlHttp.onreadystatechange = function() {
					if (xmlHttp.readyState == 4) {
						closeModal();
						if (xmlHttp.status == 200) {
							var policyBody = document.getElementById("policy-body");
							var jsonobj = JSON.parse(xmlHttp.responseText);
							var str = JSON.stringify(jsonobj, null, '  ');
							policyBody.innerHTML = syntaxHighlight(str);
						}
					}
				};
				xmlHttp.open("GET", "policy/io.cilium", true);
				xmlHttp.send();
			}


			$('#policy-form').submit(function() {
				var fileName = document.forms["policy-form"]["policy-input-file"].value;
				if (fileName == null || fileName == "") {
					alert("File must be selected");
					return false;
				}

				var formData = new FormData($(this)[0]);

				var url = 'policy/io.cilium';

				openModal();
				$.ajax({
					url : url,
					type : 'POST',
					data : formData,
					async : true,
					success : function(data) {
						document.forms["policy-form"]["policy-input-file"].value = null;
						closeModal();
						reloadPolicy();
					},
					error : function(XMLHttpRequest, textStatus, errorThrown) {
						closeModal();
						alert("Status: " + textStatus);
						alert("Error: " + errorThrown);
					},
					cache : false,
					contentType : false,
					processData : false
				});

				return false;
			});
		</script>

		<script type="text/javascript">
			function updateOption(url, option, value) {
				var xmlHttp = new XMLHttpRequest();
				openModal();
				xmlHttp.onreadystatechange = function() {
					if (xmlHttp.readyState == 4) {
						closeModal();
						// TODO show error message in case of failure
					}
				};
				xmlHttp.open("POST", url, true);
				xmlHttp.setRequestHeader("Content-type", "application/json");
				xmlHttp.send('{"' + option + '":' + value + '}');
			}

			function updateEPOption(endpointID, option, value) {
				updateOption("endpoint/update/" + endpointID, option, value);
			}

			function updateDaemonOption(option, value) {
				updateOption("update", option, value);
			}


			$("#checks :checkbox").change(function(e) {
				updateDaemonOption(e.target.id, $(this).is(":checked"));
			});

			function sendLabelChanges(lbls, endpointID, calb) {
				var xmlHttp = new XMLHttpRequest();
				xmlHttp.onreadystatechange = function() {
					if (xmlHttp.readyState == 4 && xmlHttp.status == 202) {
						calb();
					}
				};
				xmlHttp.open("POST", "endpoint/labels/" + endpointID, true);
				xmlHttp.setRequestHeader("Content-type", "application/json");
				xmlHttp.send(JSON.stringify(lbls));
			}

			function refreshApplyChangesButton(endpointID) {
				var isChanged = false;
				var allLabels = $('#all-labels-' + endpointID);
				var children = allLabels.children();
				for (var i = 0; i < children.length; i++) {
					if (children[i].hasAttribute("isnewall") && children[i].getAttribute("isnewall")) {
						isChanged = true;
						break;
					}
				}
				if (!isChanged) {
					var enLabels = $('#enabled-labels-' + endpointID);
					var children = enLabels.children();
					for (var i = 0; i < children.length; i++) {
						if (children[i].hasAttribute("isnewenabled") && children[i].getAttribute("isnewenabled")) {
							isChanged = true;
							break;
						}
					}
				}
				var divButton = document.getElementById("apply-labels-button-" + endpointID);
				if (isChanged) {
					divButton.innerHTML = '<button id="label-button-' + endpointID + '" onclick="applyLabelChanges(' + endpointID + ')" class="btn btn-default">Apply Changes</button>';
				} else {
					divButton.innerHTML = "";
				}
			}

			function applyLabelChanges(endpointID) {
				openModal();
				var enLabels = $('#enabled-labels-' + endpointID);
				var children = enLabels.children();
				var enabledLabels = {};
				for (var i = 0; i < children.length; i++) {
					if (children[i].hasAttribute("isnewenabled") && children[i].getAttribute("isnewenabled")) {
						children[i].removeAttribute("isnewenabled");
						var ciliumLbl = createCiliumLabel(children[i].innerHTML);
						enabledLabels[ciliumLbl.Key] = ciliumLbl;
					}
				}
				var allLabels = $('#all-labels-' + endpointID);
				var children = allLabels.children();
				var disabledLabels = {};
				for (var i = 0; i < children.length; i++) {
					if (children[i].hasAttribute("isnewall") && children[i].getAttribute("isnewall")) {
						children[i].removeAttribute("isnewall");
						var ciliumLbl = createCiliumLabel(children[i].innerHTML);
						disabledLabels[ciliumLbl.Key] = ciliumLbl;
					}
				}

				var opLabels = {
					"DisableLabelsOp" : disabledLabels,
					"EnableLabelsOp" : enabledLabels
				};

				sendLabelChanges(opLabels, endpointID, function() {
					closeModal();
					refreshApplyChangesButton(endpointID);
				});

			}
		</script>

		<script type="text/javascript">
			function allowDrop(ev) {
				ev.preventDefault();
			}

			function drag(ev) {
				ev.dataTransfer.setData("text", ev.target.id);
			}

			function drop(ev) {
				ev.preventDefault();
				var data = ev.dataTransfer.getData("text");
				var element = document.getElementById(data);
				var endpointID = element.id.match(/^[0-9]+/);
				var isChanged = false;

				if (element.id.endsWith("all")) {
					// All Labels -> Enabled Labels
					var cpy = element.cloneNode(true);
					cpy.id = cpy.id.replace(/all$/, "enabled");
					if (document.getElementById(cpy.id) == null) {
						if (ev.target.id.startsWith("enabled-labels-" + endpointID)) {
							ev.target.appendChild(cpy);
							isChanged = true;
						} else if ($(ev.target).parent()[0].id.startsWith("enabled-labels-" + endpointID)) {
							$(ev.target).parent()[0].appendChild(cpy);
							isChanged = true;
						}
						if (isChanged) {
							if (element.hasAttribute("isnewall") && element.getAttribute("isnewall")) {
								cpy.removeAttribute("isnewall");
								cpy.removeAttribute("isnewenabled");
								element.removeAttribute("isnewall");
								element.removeAttribute("isnewenabled");
							} else {
								cpy.setAttribute("isnewenabled", true);
							}
						}
					}
				} else if (element.id.endsWith("enabled") && (ev.target.id.startsWith("all-labels-" + endpointID) || $(ev.target).parent()[0].id.startsWith("all-labels-" + endpointID))) {
					// Enabled Labels -> All Labels
					var id = element.id.replace(/enabled$/, "all");
					var sideAllLabel = document.getElementById(id);
					if (element.hasAttribute("isnewenabled") && element.getAttribute("isnewenabled")) {
						sideAllLabel.removeAttribute("isnewenabled");
						sideAllLabel.removeAttribute("isnewall");
					} else {
						sideAllLabel.setAttribute("isnewall", true);
					}
					element.parentNode.removeChild(element);
				}

				// Refresh Apply Changes button
				refreshApplyChangesButton(endpointID);
			}

			function createCheckBoxOption(key, value) {
				out = "";
				out += '<div class="checkbox" align="left">';
				out += '<label>';
				out += '<input id="' + key + '" type="checkbox"';
				if (value) {
					out += "checked";
				}
				out += '>' + key + '</label></div>';
				return out;
			}

			function fillEndpointLabels(endpointID) {
				var xmlHttp = new XMLHttpRequest();
				xmlHttp.onreadystatechange = function() {
					if (xmlHttp.readyState == 4) {
						if (xmlHttp.status == 200) {
							var arr = JSON.parse(xmlHttp.responseText);
							var allLabels = document.getElementById('all-labels-' + endpointID);
							var out = "";
							for (var key in arr["AllLabels"]) {
								var lbl = getFmtLabel(arr["AllLabels"][key]);
								out += '<li id="' + endpointID + '-' + lbl + '-all" draggable="true" ondragstart="drag(event)" data-draggable="item">' + lbl + '</li>';
							}
							allLabels.innerHTML = out;
							var enabledLabels = document.getElementById('enabled-labels-' + endpointID);
							out = "";
							for (var key in arr["EndpointLabels"]) {
								var lbl = getFmtLabel(arr["EndpointLabels"][key]);
								out += '<li id="' + endpointID + '-' + lbl + '-enabled" draggable="true" ondragstart="drag(event)" data-draggable="item">' + lbl + '</li>';
							}
							enabledLabels.innerHTML = out;
						}
					}
				};
				xmlHttp.open("GET", "endpoint/labels/" + endpointID, false);
				xmlHttp.send();
			}

			function refreshTable(nodeID) {
				var xmlHttp = new XMLHttpRequest();
				openModal();
				xmlHttp.onreadystatechange = function() {
					if (xmlHttp.readyState == 4) {
						closeModal();
						var endpointList = document.getElementById("endpoints-list");
						if (xmlHttp.status == 200) {
							var arr = JSON.parse(xmlHttp.responseText);
							var i;
							var out = '<table class="table table-bordered table-hover table-condensed" style="border-collapse:collapse;">';
							out += '<thead><tr><th> Endpoint ID </th><th> IPv6 </th><th> IPv4 </th><th> Status </th></tr></thead><tbody>';
							for ( i = 0; i < arr.length; i++) {
								if (arr[i]["security-label"] != null && arr[i]["security-label"]["id"] == nodeID) {
									out += '<tr data-toggle="collapse" id="row-endpoint-' + arr[i]["id"] + '"';
									out += ' data-target="#row-endpoint-options-' + arr[i]["id"] + '" class="accordion-toggle">';
									out += '<td>' + arr[i]["id"] + '</td><td style="font-family: monospace">' + arr[i]["ipv6"];
									out += '</td><td style="font-family: monospace">' + arr[i]["ipv4"] + "</td><td>OK</td></tr>";
									if (arr[i]["options"] != null && arr[i]["options"]["map"] != null) {
										out += '<td colspan="12" class="hiddenRow">';
										out += '<div class="accordian-body collapse" id="row-endpoint-options-' + arr[i]["id"] + '">';
										out += '<div class="row">';
										out += '<div id="checks-' + arr[i]["id"] + '">';
										out += '<div class="col-md-6">';
										var j = 0;
										for (var key in arr[i]["options"]["map"]) {
											j++;
											if (j % 2 != 0) {
												out += createCheckBoxOption(key, arr[i]["options"]["map"][key]);
											}
										}
										out += '</div><div class="col-md-6">';
										j = 0;
										for (var key in arr[i]["options"]["map"]) {
											j++;
											if (j % 2 == 0) {
												out += createCheckBoxOption(key, arr[i]["options"]["map"][key]);
											}
										}
										out += '</div></div></div>';
										out += '<div class="row">';
										out += '<div class="col-md-6">';
										out += '<label for="all-labels-' + arr[i]["id"] + '"> All labels </label></br>';
										out += '<ol style="background: #d9edf7" id="all-labels-' + arr[i]["id"] + '" ondrop="drop(event)" ondragover="allowDrop(event)" data-draggable="target">';
										out += '</ol></div>';
										out += '<div class="col-md-6">';
										out += '<label for="enabled-labels-' + arr[i]["id"] + '"> Enabled labels </label></br>';
										out += '<ol style="background: #d6e9c6" id="enabled-labels-' + arr[i]["id"] + '" ondrop="drop(event)" ondragover="allowDrop(event)" data-draggable="target">';
										out += '</ol></div>';

										out += '<div class="row" id="apply-labels-button-' + arr[i]["id"] + '">';

										out += '</div></div></div></td>';

									}
								}
							}
							out += '</tbody></table>';
							if (i == 0) {
								out = "(no cilium endpoints in that node)";
							}
							endpointList.innerHTML = out;

							for ( i = 0; i < arr.length; i++) {
								fillEndpointLabels(arr[i]["id"]);
							}

							// Add event listeners
							for ( i = 0; i < arr.length; i++) {
								if (arr[i]["security-label"] != null && arr[i]["security-label"]["id"] == nodeID) {
									$('#checks-' + arr[i]["id"] + ' :checkbox').change(function(e) {
										checkBoxNodeIDStr = e.target.parentNode.parentNode.parentNode.parentNode.id;
										checkBoxNodeID = checkBoxNodeIDStr.split("-")[1];
										updateEPOption(checkBoxNodeID, e.target.id, $(this).is(":checked"));
									});
								}
							}
						} else if (xmlHttp.status == 204) {
							endpointList.innerHTML = "(no cilium endpoints in that node)";
						}
					}
				};
				xmlHttp.open("GET", "endpoints", true);
				xmlHttp.send();
			}
		</script>

		<script type="text/javascript">
			var network;

			nodesArray = [];
			edgesArray = [];

			nodes = new vis.DataSet(nodesArray);
			edges = new vis.DataSet(edgesArray);

			var container = document.getElementById('cilium-topology');

			var data = {
				nodes : nodes,
				edges : edges
			};

			var options = {
				//"configure": {},
				"nodes" : {
					"shape" : "dot"
				},
				"edges" : {
					"color" : {
						"highlight" : "rgba(117,196,255,1)",
						"inherit" : false,
						"opacity" : 0.65
					},
					"arrows" : {
						"to" : {
							"enabled" : true
						}
					},
					"shadow" : {
						"enabled" : true
					},
					"arrowStrikethrough" : false,
					"smooth" : {
						"forceDirection" : "none"
					},
					"scaling" : {
						"min" : 1,
					}
				},
				"physics" : {
					"minVelocity" : 0.75
				}
			};
			function startNetwork() {
				network = new vis.Network(container, data, options);
			}

			startNetwork();

			network.on("afterDrawing", function(ctx) {
				var ids = nodes.getIds();
				for ( i = 0; i < ids.length; i++) {
					nodeID = ids[i];
					var nodePosition = network.getPositions([nodeID]);
					size = (nodes.get(nodeID).size / 2);
					if (size < 12) {
						ctx.font = "12px";
					} else {
						ctx.font = size + "px";
					}
					ctx.fillStyle = "black";
					ctx.textAlign = "center";
					ctx.textBaseline = "middle";
					ctx.fillText(nodes.get(nodeID).size - 10, nodePosition[nodeID].x, nodePosition[nodeID].y);
				}
			});

			network.on("selectNode", function(params) {
				refreshTable(params.nodes[0]);
			});

			network.on("deselectNode", function(params) {
				var endpointList = document.getElementById("endpoints-list");
				endpointList.innerHTML = "Select a node";
			});

			(function() {
				var networkDiv = document.getElementById("cilium-topology");
				var conn = new WebSocket("ws://{{.TCPAddr}}/ws");
				conn.onclose = function(evt) {
					networkDiv.textContent = 'Connection closed';
				};
				conn.onmessage = function(evt) {
					var msg = JSON.parse(evt.data);
					console.log('msg', msg);
					console.log('node', msg.node);
					switch(msg.type) {
					case "add-node":
						nodes.add(msg.node);
						break;
					case "mod-node":
						nodes.update(msg.node);
						break;
					case "del-node":
						nodes.remove({
							id : msg.id
						});
						break;
					case "add-edge":
						edges.add(msg.edge);
						break;
					case "mod-edge":
						edges.update(msg.edge);
						break;
					case "animate-edge":
						network.animateTraffic(msg.edges);
					case "del-edge":
						edges.remove({
							id : msg.id
						});
						break;
					}
				};
			})();
		</script>
	</body>
</html>
