.. _next_release_required_changes:

|NEXT_RELEASE| Upgrade Notes
----------------------------

Action Required
~~~~~~~~~~~~~~~

If you are using the following features in your environment, then you may need
to take action because of changes to the behavior of these features. Read the
notes carefully below to understand what to do during upgrade.

* TODO

Informational Notes
~~~~~~~~~~~~~~~~~~~

* TODO

Changes to Features
~~~~~~~~~~~~~~~~~~~

New Options
###########

The following options have been introduced in this version of Cilium:

* TODO

Changed Options
###############

The following options have been modified in this version of Cilium to behave
differently than in prior releases:

* TODO

Deprecated Options
##################

The following options have been deprecated in this version of Cilium. A future
version of Cilium will remove these options, so if you use these options then
you may need to take action to migrate to an alternative.

* TODO

Removed Options
###############

The following options were previously deprecated, and they are now removed
from Cilium.

* TODO

Changes to Metrics
~~~~~~~~~~~~~~~~~~

Added Metrics
#############

* TODO

Changed Metrics
###############

* TODO

Deprecated Metrics
##################

* TODO

Removed Metrics
###############

* TODO
