{
        "name": "io.cilium",
        "children": {
		"lizards": {
			"rules": [{
				"coverage": ["qa"],
				"requires": ["qa"]
			},{
				"coverage": ["prod"],
				"requires": ["prod"]
			},{
				"coverage": ["db"],
				"always-allow": {"key": "user", "value": "joe"}
			}],
			"children": {
				"web": { },
				"db": {
					"rules": [{
						"allow": ["io.cilium.lizards.web"]
					}]
				}
			}
		},
		"birds": {
			"children": {
				"db": { }
			}
		}

	}
}
