{
        "name": "io.cilium",
	"rules": [{
		"allow": ["$world"]
	}],
        "children": {
		"client": { },
		"server": {
			"rules": [{
				"allow": ["../client"]
			}]
		}

	}
}
