{
        "Name": "io.cilium",
        "Children": {
		"test": {
			"Rules": [{
				"Coverage": ["QA"],
				"Requires": ["QA"]
			},{
				"Coverage": ["Prod"],
				"Requires": ["Prod"]
			},{
				"Coverage": ["io.cilium.test.server"],
				"Allow": ["io.cilium.test.client", "$host"]
			}]
		}
	}
}
