# May contain additional custom Helm values that are taken into account when
# installing cilium via Make target `kind-install-cilium`.
kind-custom.yaml

# May contain config used by the `cluster-install-cilium` Make target.
remote-values.yaml