# Copyright Authors of Cilium
# SPDX-License-Identifier: Apache-2.0

# since this is image is built with root context, most of the files
# need to be excluded for faster builds and to avoid spoiling build
# cache due to unchecked files (like configs or random binaries)
*

# must-have toplevel files
!/Makefile*
!/go.sum
!/go.mod
!/VERSION

# directories
!/.git
!/api
!/images/runtime/build-gops.sh
!/hubble-relay
!/pkg
!/tools
!/vendor
