Sphinx==5.2.1
sphinx-autobuild==2021.3.14

# Custom theme, forked from Read the Docs
git+https://github.com/cilium/sphinx_rtd_theme.git@v1.0#egg=sphinx-rtd-theme-cilium

# We use semver to parse Cilium's version in the config file
semver==2.13.0

# Sphinx extensions
myst-parser==0.18.0
# Fork openapi until it uses something newer than unmaintained m2r
# (See git logs for details)
git+https://github.com/cilium/openapi.git@mdinclude#egg=sphinxcontrib-openapi
sphinx-tabs==3.4.0
sphinx-version-warning==1.1.2
sphinxcontrib-spelling==7.6.0
sphinxcontrib-websupport==1.2.4

# Linters
rstcheck==3.3.1
yamllint==1.27.1
