# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure(2) do |config|
  config.vm.box = "noironetworks/net-next"

  config.ssh.insert_key = false

  config.vm.synced_folder ".", "/vagrant", disabled: true

  config.vm.provision "shell", inline: <<-SHELL
    rm -rf /home/vagrant/go/src/github.com/docker/libnetwork
    mkdir -p /home/vagrant/go/src/github.com/docker
    cd /home/vagrant/go/src/github.com/docker
    git clone -b ipv6-citizen https://github.com/tgraf/libnetwork.git
    # go get github.com/noironetworks/cilium-net
    chown -R vagrant:vagrant /home/vagrant/go

    mount bpffs /sys/fs/bpf/ -t bpf
    /home/vagrant/bin/iptables_cleanup.sh || true
  SHELL

  config.vm.provider :libvirt do |domain|
      domain.memory = 8192
      domain.cpus = 8
      domain.nested = true
  end

  config.vm.provider "virtualbox" do |vb|
      vb.memory = "8192"
      vb.cpus = 8
      config.vm.network "private_network", ip: "192.168.33.10"
      config.vm.synced_folder '../../', '/home/vagrant/go/src/github.com/noironetworks/cilium-net', nfs: true
      # Don't forget to enable this ports before starting the VM
      # in order to have nfs working
      # iptables -I INPUT -p udp -s 192.168.33.0/24 --dport 111 -j ACCEPT
      # iptables -I INPUT -p udp -s 192.168.33.0/24 --dport 2049 -j ACCEPT
      # iptables -I INPUT -p udp -s 192.168.33.0/24 --dport 20048 -j ACCEPT
  end
end
