{
        "name": "io.cilium",
	"rules": [{
		"coverage": ["public"],
		"allow": ["$world"]
	},{
		"coverage": ["all"],
		"allow": ["$all"]
	},{
		"coverage": ["$world"],
		"allow": ["client"]
	},{
		"allow": ["$host"]
	}],
        "children": {
		"client": { },
		"server": {
			"rules": [{
				"allow": ["../client"]
			}]
		}

	}
}
