{
	"name": "root",
	"rules": [{
		"coverage": ["public"],
		"allow": ["$world"]
	},{
		"coverage": ["all"],
		"allow": ["$all"]
	},{
		"coverage": ["$world"],
		"allow": ["id.client"]
	},{
		"coverage": ["$host"],
		"allow": ["$all"]
	},{
		"coverage": ["$all"],
		"allow": ["$host"]
	},{
		"coverage": ["id.server"],
		"allow": ["id.client"]
	}]
}
