#cilium-topology {
	border: 1px solid lightgray;
	padding: 0px;
	margin: 0px;
	height: 100%;
	text-align: center;
}
html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	text-align: center;
}
.title-left {
	float: left;
	margin-left: 10px;
}
tr:nth-child(even) {
	background-color: #e8e8e8;
}

#fade {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #ababab;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .70;
	filter: alpha(opacity=80);
}
#modal {
	display: none;
	position: absolute;
	top: 45%;
	left: 45%;
	width: 200px;
	height: 200px;
	padding: 15px 15px 15px 15px;
	border: 3px solid #ababab;
	box-shadow: 1px 1px 10px #ababab;
	border-radius: 20px;
	background-color: white;
	z-index: 1002;
	text-align: center;
	overflow: auto;
}

pre {
	outline: 1px solid #ccc;
	padding: 5px;
	margin: 5px;
}
.string {
	color: green;
}
.number {
	color: darkorange;
}
.boolean {
	color: blue;
}
.null {
	color: magenta;
}
.key {
	color: red;
}

/* draggable targets */
[data-draggable="target"] {
	list-style-type: none;
	height: 7.5em;
	overflow-y: auto;
	padding: 0.5em;
	border: 2px solid #888;
	border-radius: 0.2em;
	color: #555;
}

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"] {
	border-color: #68b;
	background: #fff;
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus, [data-draggable="target"][aria-dropeffect="move"].dragover {
	outline: none;
	box-shadow: 0 0 0 1px #fff, 0 0 0 3px #68b;
}

/* draggable items */
[data-draggable="item"] {
	display: block;
	list-style-type: none;
	margin: 0 0 2px 0;
	padding: 0.2em 0.4em;
	border-radius: 0.2em;
	line-height: 1.3;
}

/* items focus state */
[data-draggable="item"]:focus {
	outline: none;
	box-shadow: 0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"] {
	background: #8ad;
	color: #fff;
}
