alabaster==0.7.12
Babel==2.6.0
certifi==2018.10.15
chardet==3.0.4
docutils==0.14
idna==2.7
imagesize==1.1.0
Jinja2==2.10.1
jsonschema==2.6.0
MarkupSafe==1.0
Pygments==2.4.2
pytz==2018.7
PyYAML==4.2b1
requests==2.20.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinx-rtd-theme==0.2.4
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-openapi==0.3.2
sphinxcontrib-websupport==1.1.0
typing==3.6.6
urllib3==1.24.2
sphinx-tabs==1.1.7
recommonmark==0.4.0
sphinxcontrib-spelling==4.2.0
sphinx-version-warning==1.1.2
