alabaster==0.7.12
Babel==2.9.1
certifi==2021.10.8
chardet==4.0.0
docutils==0.17
idna==3.3
imagesize==1.3.0
Jinja2==3.0.3
jsonschema==4.4.0
# for m2r (dependency to sphinxcontrib-openapi), see https://github.com/miyakogi/m2r/issues/66
mistune<2.0.0
MarkupSafe==2.1.0
myst-parser==0.17.0
pyenchant==3.2.2
Pygments==2.11.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
semver==2.13.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-autobuild==2021.3.14
# forked read the docs themez
git+https://github.com/cilium/sphinx_rtd_theme.git@v1.0
sphinxcontrib-httpdomain==1.8.0
sphinxcontrib-openapi==0.7.0
sphinxcontrib-spelling==7.3.2
sphinxcontrib-websupport==1.2.4
sphinx-tabs==3.3.1
sphinx-version-warning==1.1.2
typing==3.7.4.3
urllib3==1.26.8
yamllint==1.26.3
rstcheck==3.3.1
