{
        "name": "io.cilium",
        "children": {
		"service": {
		    	"rules": [{
                    "coverage": ["wine"],
                    "allow": ["bar", "$host"]
                },{
                    "coverage": ["bar"],
                    "allow": ["client", "$host"]
                }]
    	    }
    	}
}
